/*-----------------*/
/*REUSABLE ELEMENTS*/
/*-----------------*/

/*-------ICONS-------*/

.clickable_icon {
    color: #555;
    font-size: 30px;
    cursor: pointer;
}

.clickable_icon:hover {
    transform: scale(1.15);
}
  
/*-----------------*/
/*-----SECTIONS----*/
/*-----------------*/

/*BOOKING MARK SECTION*/

.small-row {
    margin-top: -110px;
}

.booking-mark-row {
    width: 9em;
}

.booking-mark {
    padding: 10px;
    border-radius: 5%;
    border: 1.8px solid #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.flex-grid {
    display: flex;
    justify-content: space-evenly;
}

.flex-column {
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

@media screen and (max-width: 600px) {
    .flex-grid {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .flex-column {
        width: 60vw;
    }

    .flex-column p {
        margin-bottom: .4em;
        font-size: 1.3em
    }

    .booking-mark{
        margin-top: 0;
        margin-bottom: 1.2em;
    }
  }

/*CONTACT SECTION*/

.email-link {
    font-size: 0.8em;
}

/*-----------------*/
/*------MODALS-----*/
/*-----------------*/

#bigroomModal,
#smallroomModal,
#livingroomModal,
#bathroomModal {
    display: none;
}